<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartnutri">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartnutri"
        tools:targetApi="31">

        <activity
            android:name=".notification1"
            android:exported="false"/>

       <receiver android:name=".AlarmReceiver"
           android:enabled="true"
           android:exported="true"/>
        <activity
            android:name=".beef"
            android:exported="false" />
        <activity
            android:name=".vegeta"
            android:exported="false" />
        <activity
            android:name=".chicken_salad"
            android:exported="false" />
        <activity
            android:name=".fat"
            android:exported="false" />
        <activity
            android:name=".cut"
            android:exported="false" />
        <activity
            android:name=".bulk"
            android:exported="false" />
        <activity
            android:name=".body_type"
            android:exported="false" />
        <activity
            android:name=".first"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>